# OS
.DS_Store

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
htmlcov/

# Env
.env
.venv/
.direnv/

# Editors
.idea/
.vscode/
*.iml

# Misc
.cache/
/.tmp/
*.log
tmp/
.claude_home/
